<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./logo.jpeg">

  <title>Growtopia Surgery Simulator</title>
</head>

<body class="flex flex-col w-full h-screen items-center">
  <header
    class="flex min-h-20 h-20 max-h-20 fixed top-0 bg-[#313338] z-10 flex-row w-full justify-center shadow shadow-[#383A40]">
    <div class="flex flex-row w-full max-w-[1400px] justify-between">
      <div class="items-center flex flex-row gap-2.5">
        <img src="./goldcadu.png" alt="Gold Cadusesu Logo">
        <h1 class="text-xl capitalize font-semibold text-teal-600">GTSURG SIMULATOR</h1>
      </div>
      <nav id="navigationDrawer" class="flex flex-row">
        <ul class="flex flex-row items-center px-3">
          <li class="px-3 text-stone-700 font-semibold"><a href="#/now-playing">Others</a></li>
          <li class="px-3 text-stone-700 font-semibold"><a href="#/upcoming">Upcoming</a></li>
        </ul>
      </nav>
    </div>

  </header>
  <main id="mainContent" class="flex grow flex-col w-full items-center mt-20">
    <section
      class="w-full h-80 flex justify-center items-end pb-5 bg-[url(./../../public/pxfuel.jpg)] bg-blend-overlay bg-bottom">
      <div class="flex flex-col items-center pt-4">
        <h1 class="text-4xl font-extrabold text-lime-600 drop-shadow-2xl">GROWTOPIA SURGERY GUIDE & SIMULATOR</h1>
        <span class="text-lime-700 font-semibold text-md">Try unlimited surgeries without spending any surgical
          tools!</span>
      </div>
    </section>
    <section class="w-full max-w-[1400px]">
      <script>
        // Stats variables
        var sounded = false;
        var labworked = false;
        var fixed = false;
        var fixable = false;
        var flu = false;
        var pulse = 40;
        var site = 0;
        var sleep = 0;
        var dirt = 0;
        var broken = 0;
        var shattered = 0;
        var incisions = 0;
        var bleeding = 0;
        var incneeded = 0;
        var heart = 0;
        var temp = 98.6;
        var fever = 0.0;
        var pretext = '';
        var fixtext = '';
        var postext = '';
        var scantext = '';
        var tooltext = 'The patient is prepped for surgery.';
        var endtext = '';
        var failchance = 0;
        var s = true;
        var antibs = false;
        var bans = 0;
        var selfbans = 0;

        var spongUsed = 0;
        var scalpUsed = 0;
        var stitcUsed = 0;
        var antibUsed = 0;
        var antisUsed = 0;
        var ultraUsed = 0;
        var labkiUsed = 0;
        var anestUsed = 0;
        var defibUsed = 0;
        var splinUsed = 0;
        var pinsUsed = 0;
        var clampUsed = 0;
        var transUsed = 0;

        function prizetext() {
          var rnd = Math.floor(Math.random() * 1001);
          if (rnd == 0)
            return 'Thingamabob'
          else if (rnd == 1)
            return 'Magnifying Glass'
          else if (rnd < 5)
            return 'Edison Zoomster'
          else if (rnd < 9)
            return 'Medical Scarf'
          else if (rnd < 15)
            return 'DNA Processor'
          else if (rnd < 20)
            return 'Techno Visor'
          else if (rnd < 25)
            return 'Cybernetic Eye'
          else if (rnd < 30)
            return 'Autoclave'
          else if (rnd < 35)
            return 'Steel Spike'
          else if (rnd < 40)
            return 'Wolf Whistle'
          else if (rnd < 45)
            return 'Antidote';
          else if (rnd < 50)
            return 'Legal Briefs'
          else if (rnd < 90)
            return 'Scrub Cap'
          else if (rnd < 130)
            return 'Scrub Mask'
          else if (rnd < 170)
            return 'Scrub Top'
          else if (rnd < 210)
            return 'Scrub Pants'
          else if (rnd < 250)
            return 'Candy Striper Hat'
          else if (rnd < 290)
            return 'Candy Striper Uniform'
          else if (rnd < 330)
            return 'Candy Striper Skirt'
          else if (rnd < 370)
            return 'Hospital Wall'
          else if (rnd < 410)
            return 'Hospital Window'
          else if (rnd < 450)
            return 'Hospital Curtain'
          else if (rnd < 490)
            return 'Hospital Bed'
          else if (rnd < 510)
            return 'Homeopathic Medicine'
          else if (rnd < 580)
            return 'Surgical Scalpel'
          else if (rnd < 650)
            return 'Surgical Stitches'
          else if (rnd < 720)
            return 'Surgical Sponge'
          else if (rnd < 790)
            return 'Surgical Antiseptic'
          else if (rnd < 860)
            return 'Surgical Anesthetic'
          else if (rnd < 930)
            return 'Surgical Antibiotics'
          else
            return 'Surgical Splint';

        }
        function colorize(s, c) {
          var res = '<font color="';
          switch (c) {
            case 'green':
              res += '46f013';
              break;
            case 'blue':
              res += '8cbde1';
              break;
            case 'orange':
              res += 'f3c670';
              break;
            case 'red':
              res += 'f44849';
              break;
          }
          res += '">' + s + '</font>';
          return res;
        }
        function toolavailable(s) {
          if (dirt == 10 && s != 'sponge' && s != 'ban' && s != '')
            result = false
          else
            switch (s) {
              case 'sponge':
                return true;
              case 'antibiotics':
                return labworked;
              case 'fixit':
                return fixable && !fixed;
              case 'ultrasound':
                return !sounded;
              case 'labkit':
                return !labworked;
              case 'defibrillator':
                return heart > 0;
              case 'splint':
                return broken > 0;
              case 'pins':
                return shattered > 0 && incisions > 0;
              case 'clamp':
                return incisions > 0 && bleeding > 0;
              default:
                return true;
            }
        }
        function draw() {
          var drawbox = document.getElementById("surstat");
          drawbox.innerHTML = '';
          if (!sounded && !flu || !labworked && flu)
            drawbox.innerHTML += ('The patient has not been diagnosed.');
          else if (!fixable || flu || incneeded == 0)
            drawbox.innerHTML += (pretext)
          else if (!fixed)
            drawbox.innerHTML += (fixtext)
          else
            drawbox.innerHTML += (postext);
          // Pulse
          drawbox.innerHTML += ('<br />Pulse: ');
          if (pulse < 11)
            drawbox.innerHTML += (colorize('Extremely Weak', 'red'))
          else if (pulse < 21)
            drawbox.innerHTML += (colorize('Weak', 'orange'))
          else if (pulse < 31)
            drawbox.innerHTML += (colorize('Steady', 'blue'))
          else
            drawbox.innerHTML += (colorize('Strong', 'green'));
          // Status
          drawbox.innerHTML += ('&#160;&#160;&#160;&#160;&#160;Status: ');
          if (heart > 0)
            drawbox.innerHTML += (colorize('Heart stopped!', 'red'))
          else if (sleep == 0)
            drawbox.innerHTML += (colorize('Awake', fixed ? 'blue' : 'red'))
          else if (sleep < 3)
            drawbox.innerHTML += (colorize('Coming to', 'orange'))
          else
            drawbox.innerHTML += (colorize('Unconcsious', 'green'));
          // Temp
          drawbox.innerHTML += ('<br />Temp: ');
          if (temp < 100)
            drawbox.innerHTML += (colorize(temp, 'green'))
          else if (temp < 104)
            drawbox.innerHTML += (colorize(temp, 'blue'))
          else if (temp < 106)
            drawbox.innerHTML += (colorize(temp, 'orange'))
          else
            drawbox.innerHTML += (colorize(temp, 'red'));
          // Operation site
          drawbox.innerHTML += ('&#160;&#160;&#160;&#160;&#160;Operation site: ');
          if (site < -3)
            drawbox.innerHTML += (colorize('Unsanitary', 'red'))
          else if (site < -1)
            drawbox.innerHTML += (colorize('Unclean', 'orange'))
          else if (site < 1)
            drawbox.innerHTML += (colorize('Not sanitized', 'blue'))
          else drawbox.innerHTML += (colorize('Clean', 'green'));
          // Dirt
          if (dirt == 10)
            drawbox.innerHTML += (colorize('<br />You can\'t see what you are doing!', 'red'))
          else if (dirt > 4)
            drawbox.innerHTML += (colorize('<br />It is becoming hard to see your work.', 'orange'));
          // Incisions
          drawbox.innerHTML += ('<br />Incisions: ');
          if (incisions == 0)
            drawbox.innerHTML += (colorize(incisions, 'green'))
          else
            drawbox.innerHTML += (colorize(incisions, 'blue'));
          // Bones
          if (broken + shattered > 0 && sounded) {
            drawbox.innerHTML += ('&#160;&#160;&#160;&#160;&#160;Bones: ');
            if (broken > 0) {
              if (broken > 2)
                drawbox.innerHTML += (colorize(broken + ' broken', 'red'))
              else
                drawbox.innerHTML += (colorize(broken + ' broken', 'orange'));
            }
            if (broken > 0 && shattered > 0)
              drawbox.innerHTML += (', ');
            if (shattered > 0) {
              if (shattered > 2)
                drawbox.innerHTML += (colorize(shattered + ' shattered', 'red'))
              else
                drawbox.innerHTML += (colorize(shattered + ' shattered', 'orange'));
            }
          }
          // Bleeding
          if (bleeding > 0) {
            drawbox.innerHTML += ('<br />Patient is ');
            if (bleeding == 1)
              drawbox.innerHTML += ('losing blood ' + colorize('slowly.', 'blue'))
            else if (bleeding == 4)
              drawbox.innerHTML += ('losing blood ' + colorize('fast!', 'red'))
            else {
              drawbox.innerHTML += (colorize('losing blood!', 'orange'));
            }
          }
          // Fever
          if (fever > 0 && temp > 100) {
            drawbox.innerHTML += ('<br />Patient\'s fever is ');
            if (fever < 0.5)
              drawbox.innerHTML += (colorize('slowly rising.', 'blue'))
            else if (fever > 2)
              drawbox.innerHTML += (colorize('climbing fast!', 'red'))
            else {
              drawbox.innerHTML += (colorize('climbing!', 'orange'));
            }
          }
          // Special: heart stop and cut awake
          if (heart == 1)
            drawbox.innerHTML += ('<br />' + colorize('The patient\'s heart has stopped!', 'red'))
          else if (incisions > 0 && sleep == 0)
            drawbox.innerHTML += ('<br />' + colorize('The patient screams and flails!', 'red'));

          // Tool text
          if (s)
            drawbox.innerHTML += ('<br /><br />' + colorize(tooltext, 'blue'));
          else
            drawbox.innerHTML += ('<br /><br />' + colorize('[Skill Fail (' + Math.round(30 - document.getElementById("skill").value / 4) + '%)] ', 'red') + colorize(tooltext, 'orange'));

          // Availability
          if (toolavailable('scalpel'))
            document.getElementById('scalpel').src = './surgical_scalpel.png'
          else
            document.getElementById('scalpel').src = './empty_surgery.png';

          if (toolavailable('stitches'))
            document.getElementById('stitches').src = './surgical_stitches.png'
          else
            document.getElementById('stitches').src = './empty_surgery.png';

          if (toolavailable('anesthetic'))
            document.getElementById('anesthetic').src = './surgical_anesthetic.png'
          else
            document.getElementById('anesthetic').src = './empty_surgery.png';

          if (toolavailable('antibiotics'))
            document.getElementById('antibiotics').src = './surgical_antibiotics.png'
          else
            document.getElementById('antibiotics').src = './empty_surgery.png';
          if (toolavailable('antiseptic'))
            document.getElementById('antiseptic').src = './surgical_antiseptic.png'
          else
            document.getElementById('antiseptic').src = './empty_surgery.png';

          if (toolavailable('clamp'))
            document.getElementById('clamp').src = './surgical_clamp.png'
          else
            document.getElementById('clamp').src = './empty_surgery.png';

          if (toolavailable('defibrillator'))
            document.getElementById('defibrillator').src = './surgical_defibrilator.png'
          else
            document.getElementById('defibrillator').src = './empty_surgery.png';

          if (toolavailable('labkit'))
            document.getElementById('labkit').src = './surgical_labkit.png'
          else
            document.getElementById('labkit').src = './empty_surgery.png';

          if (toolavailable('pins'))
            document.getElementById('pins').src = './surgical_pins.png'
          else
            document.getElementById('pins').src = './empty_surgery.png';

          if (toolavailable('splint'))
            document.getElementById('splint').src = './surgical_splint.png'
          else
            document.getElementById('splint').src = './empty_surgery.png';
          if (toolavailable('sponge'))
            document.getElementById('sponge').src = './surgical_sponge.png'
          else
            document.getElementById('sponge').src = './empty_surgery.png';

          if (toolavailable('transfusion'))
            document.getElementById('transfusion').src = './surgical_transfusion.png'
          else
            document.getElementById('transfusion').src = './empty_surgery.png';

          if (toolavailable('ultrasound'))
            document.getElementById('ultrasound').src = './surgical_ultrasound.png'
          else
            document.getElementById('ultrasound').src = './empty_surgery.png';

          if (toolavailable('fixit'))
            document.getElementById('fixit').src = './surgical_gloves.png'
          else
            document.getElementById('fixit').src = './empty_surgery.png';


        }
        function setstats(i) {
          sounded = false;
          labworked = false;
          fixed = false;
          fixable = false;
          flu = false;
          pulse = 40;
          site = 0;
          sleep = 0;
          dirt = 0;
          broken = 0;
          shattered = 0;
          incisions = 0;
          bleeding = 0;
          incneeded = 0;
          heart = 0;
          temp = 98.6;
          fever = 0;
          pretext = '';
          fixtext = '';
          postext = '';
          scantext = '';
          tooltext = 'Patient is prepped for surgery.';
          endtext = '';
          s = true;
          bans = 0;
          selfbans = 0;

          spongUsed = 0;
          scalpUsed = 0;
          stitcUsed = 0;
          antibUsed = 0;
          antisUsed = 0;
          ultraUsed = 0;
          labkiUsed = 0;
          anestUsed = 0;
          defibUsed = 0;
          splinUsed = 0;
          pinsUsed = 0;
          clampUsed = 0;
          transUsed = 0;

          switch (i) {
            case 0:
              fixed = true;
              bleeding = 1;
              broken = 1;
              pretext = 'Patient broke his arm.';
              scantext = 'a broken arm! You found 1 broken bone.';
              break;
            case 1:
              fixed = true;
              bleeding = 1;
              broken = 1;
              shattered = 1;
              pretext = 'Patient broke his leg.';
              scantext = 'a broken leg! You found 1 broken bone and 1 shattered bone.';
              break;
            case 2:
              fixed = true;
              flu = true;
              temp = 104.6;
              fever = 2.5;
              dirt = 6;
              pretext = 'Patient is showing signs of the bird flu.';
              scantext = 'bird flu!';
              break;
            case 3:
              fixed = true;
              flu = true;
              temp = 101.6;
              fever = 3.6;
              dirt = 6;
              pretext = 'Patient is showing signs of the turtle flu.';
              scantext = 'turtle flu!';
              break;
            case 4:
              fixed = true;
              flu = true;
              temp = 107.6;
              fever = 2.4;
              pretext = 'Patient is showing signs of the monkey flu.';
              scantext = 'monkey flu!';
              break;
            case 5:
              sounded = true;
              incneeded = 1;
              pretext = 'Patient wants a nose job.';
              fixtext = 'You have cut into nasal area.';
              postext = 'You rearranged their face!';
              break;
            case 6:
              incneeded = 1;
              scantext = 'a lung tumor!';
              pretext = 'Patient has a tumor in their lung.';
              fixtext = 'The lungs are now exposed.';
              postext = 'You excised the tumor!';
              break;
            case 7:
              incneeded = 2;
              scantext = 'a heart attack!';
              pretext = 'Patient had a heart attack.';
              fixtext = 'The heart is now exposed for operating.';
              postext = 'You grafted in some nice new arteries!';
              break;
            case 8:
              incneeded = 5;
              scantext = 'a brain tumor!';
              pretext = 'Patient has a brain tumor, deep inside.';
              fixtext = 'You\'ve finally found the tumor!';
              postext = 'You excised the tumor!';
              break;
            case 9:
              incneeded = 2;
              temp = 104.6;
              fever = 0.6;
              pulse = 30;
              scantext = 'a liver infection!';
              pretext = 'Patient has a liver infection.';
              fixtext = 'You\'ve accessed the liver.';
              postext = 'You treated the source of the infection!';
              break;
            case 10:
              incneeded = 2;
              temp = 101.6;
              fever = 1.2;
              scantext = 'kidney failure!';
              pretext = 'Patient suffers from kidney failure.';
              fixtext = 'You now have access to the bad kidney.';
              postext = 'You popped in a fresh new kidney!';
              break;
            case 11:
              incneeded = 3;
              temp = 104.6;
              fever = 1.2;
              pulse = 30;
              scantext = 'appendicitis!';
              pretext = 'Patient suffers from appendicitis.';
              fixtext = 'You now have access to the appendix.';
              postext = 'You yanked out the appendix!';
              break;
            case 12:
              incneeded = 2;
              temp = 101.6;
              bleeding = 1;
              dirt = 6;
              scantext = 'swallowed World Lock!';
              pretext = 'Patient has swallowed a world lock.';
              fixtext = 'You\'ve opened the stomach.';
              postext = 'You got the lock out!';
              break;
            case 13:
              incneeded = 3;
              temp = 100.4;
              scantext = 'a herniated disc!';
              pretext = 'Patient\'s spine is damaged.';
              fixtext = 'You\'ve opened up the vertebrae.';
              postext = 'You repaired the disc!';
              break;
            case 14:
              incneeded = 2;
              temp = 100.58;
              dirt = 6;
              bleeding = 1;
              shattered = 4;
              scantext = 'broken everything! You found 4 shattered bones.';
              pretext = 'Patient was run over by a truck.';
              fixtext = 'You\'ve found gravel in the knees.';
              postext = 'You removed the gravel!';
              break;
            case 15:
              incneeded = 1;
              pulse = 20;
              dirt = 6;
              bleeding = 4;
              scantext = 'a serious head injury!';
              pretext = 'Patient has a serious head injury.';
              fixtext = 'You\'ve opened the skull.';
              postext = 'You reduced the swelling!';
              break;
            case 16:
              incneeded = 2;
              pulse = 30;
              dirt = 10;
              bleeding = 3;
              broken = 2;
              shattered = 1;
              scantext = 'serious trauma! You found 2 broken bones and 1 shattered bone.';
              pretext = 'Patient suffered serious trauma with a punctured lung.';
              fixtext = 'You found the lung puncture.';
              postext = 'You repaired it.';
              break;
            case 17:
              incneeded = 3;
              pulse = 30;
              dirt = 10;
              bleeding = 4;
              broken = 2;
              shattered = 2;
              scantext = 'massive trauma! You found 2 broken bones and 2 shattered bones.';
              pretext = 'Patient suffered massive trauma with internal bleeding.';
              fixtext = 'You found the internal bleed.';
              postext = 'You cauterized it.';
              break;
            case 18:
              incneeded = 1;
              dirt = 15;
              scantext = 'torn punching muscle!';
              pretext = 'Patient has a torn punching muscle.';
              fixtext = 'You\'ve accessed the arm muscles. ';
              postext = 'You patched the torn punching muscle! They should be back to punching in no time.';
              break;
            case 19:
              fixable = false
              incneeded = 2;
              temp = 98.6;
              dirt = 0;
              fever = 0;
              bleeding = 1;
              scantext = 'gem cuts!';
              pretext = 'Patient is bleeding from multiple gem-induced cuts.a';
              fixtext = 'You\'ve examined the wounds.';
              postext = 'You\'ve stitches the gem cuts closed and stopped the bleeding.';
              break;
            case 20:
              fixable = false
              incneeded = 1
              temp = 104.6;
              pulse = 20;
              shattered = 1;
              dirt = 5;
              scantext = 'Grumbleteeth! You found 1 shattered bones.';
              pretext = 'Patient\'s teeth are chattering They sound angry.';
              fixtext = 'You removed grumbleteeth';
              postext = 'You\'ve replaced the patient\'s angriest teeth and quited';
              break;
            case 21:
              fixable = false;
              temp = 98.6;
              incneeded = 2;
              heart = 0;
              fever = 1.56;
              dirt = 10;
              shattered = 2;
              scantext = 'chicken feet! You found 2 shattered bones.';
              pretext = 'Patient feet have turned into chicken toes.';
              fixtext = 'You\'ve insvestigated the feet.';
              postext = 'You fixed the patient feet. They look like normal blocky toes again!';
              break;
            case 22:
              fixable = false;
              incneeded = 1;
              shattered = 2;
              temp = 107.6;
              fever = 1.2;
              dirt = 2;
              scantext = 'Broken Heart! You found 2 shattered bones.';
              pretext = 'Patient suffered from a Broken Heart.';
              fixtext = 'You\'ve revealed the heart.';
              postext = 'You\'ve repaired the fractured in the patient\'s heart';
              break;
            case 23:
              incneeded = 2;
              temp = 100.58;
              shattered = 1;
              fever = 0.8;
              dirt = 10;
              bleeding = 5;
              scantext = 'brain worms! You found 1 Shattered bone.';
              pretext = 'You\'ve exposed the brain.';
              fixtext = 'You made a neat incision.';
              postext = 'You\'ve shut down the worm party in the patient brain and cleared away their trash.';
              break;
            case 24:
              incneeded = 0;
              fixable = false;
              temp = 98.6;
              dirt = 0;
              broken = 6;
              shattered = 2;
              bleeding = 1;
              scantext = 'ecto bones! You found 6 Broken bones and 2 Shattered bones.';
              pretext = 'You\'ve exposed the ribs';
              fixtext = 'You made an incision';
              postext = 'You pinned down all patient major bones and dyed them back to their normal color.';
              break;
            case 25:
              fixable = false;
              pulse = 20;
              temp = 104.6;
              fever = 1.98;
              shattered = 1;
              incneeded = 2;
              scantext = 'Moldy Guts! You found 1 shattered bone.';
              pretext = 'Patient suffers from Moldy Guts.';
              fixtext = 'You\'ve openned the abdomen.';
              postext = 'You\'e cleaned out the patient\'s internal organs and applied a light air freshener';
              break;
            case 26:
              fixable = false;
              incneeded = 3;
              temp = 101.6;
              fever = 2.0;
              dirt = 10;
              incneeded = 3;
              bleeding = 3;
              scantext = 'fatty liver!';
              pretext = 'Patient suffered fatty liver.';
              fixtext = 'Patient poor diet has led to a high degree of fat build-up in their liver';
              postext = 'You pickup it.';
              break;
            case 27:
              fixed = false;
              incneeded = 3;
              temp = 105.6;
              broken = 2;
              fever = 2.6;
              dirt = 10;
              bleeding = 3;
              scantext = 'Chaos Infection! You found 2 Broken bones.';
              pretext = 'Patient suffered chaos infection.';
              fixtext = 'Patient poor diet has led to a high degree of fat build-up in their liver';
              postext = 'You removed it.';
              break;
            case 28:
              fixed = false;
              incneeded = 4;
              temp = 100.1;
              broken = 2;
              fever = 3.1;
              sleep = 3;
              shattered = 2;
              dirt = 10;
              incneeded = 3;
              bleeding = 3;
              scantext = 'Lupus! You found 2 Broken bones.';
              pretext = 'Patient suffered lupus.';
              fixtext = 'Chance of patient tearing skin, adding one extra incision';
              postext = 'You removed it.';
          }
        }
        function custom() {
          var s = prompt('Select the case.\nType "help" to see all available cases.');
          switch (s.toLowerCase()) {
            case 'help':
              alert('Here is a list of all possible cases:\n\nBroken Arm\nBroken Leg\nBird Flu\nTurtle Flu\nMonkey Flu\nNose Job\nLung Tumor\nHeart Attack\nBrain Tumor' +
                '\nLiver Infection\nKidney Failure\nAppendicitis\nSwallowed World Lock\nHerniated Disc\nBroken Everything\nSerious Head Injury\nSerious Trauma\nMassive Trauma' +
                '\nTorn Punching Muscle\nGem Cuts\nGrumbleteeth\nChicken Feet\nBroken Heart\nBrainworms\nEcto-Bones\nMoldy Guts\nFatty Live\nChaos Infection\nLupus');
              break;
            case 'broken arm':
              setstats(0);
              draw();
              break;
            case 'broken leg':
              setstats(1);
              draw();
              break;
            case 'bird flu':
              setstats(2);
              draw();
              break;
            case 'turtle flu':
              setstats(3);
              draw();
              break;
            case 'monkey flu':
              setstats(4);
              draw();
              break;
            case 'nose job':
              setstats(5);
              draw();
              break;
            case 'lung tumor':
              setstats(6);
              draw();
              break;
            case 'heart attack':
              setstats(7);
              draw();
              break;
            case 'brain tumor':
              setstats(8);
              draw();
              break;
            case 'liver infection':
              setstats(9);
              draw();
              break;
            case 'kidney failure':
              setstats(10);
              draw();
              break;
            case 'appendicitis':
              setstats(11);
              draw();
              break;
            case 'swallowed world lock':
              setstats(12);
              draw();
              break;
            case 'herniated disc':
              setstats(13);
              draw();
              break;
            case 'broken everything':
              setstats(14);
              draw();
              break;
            case 'serious head injury':
              setstats(15);
              draw();
              break;
            case 'serious trauma':
              setstats(16);
              draw();
              break;
            case 'massive trauma':
              setstats(17);
              draw();
              break;
            case 'torn punching muscle':
              setstats(18);
              draw();
              break;
            case 'gem cuts':
              setstats(19);
              draw();
              break;
            case 'grumbleteeth':
              setstats(20);
              draw();
              break;
            case 'chicken feet':
              setstats(21);
              draw();
              break;
            case 'broken heart':
              setstats(22);
              draw();
              break;
            case 'brainworms':
              setstats(23);
              draw();
              break;
            case 'ecto-bones':
              setstats(24);
              draw();
              break;
            case 'moldy guts':
              setstats(25);
              draw();
              break;
            case 'fatty liver':
              setstats(26);
              draw();
              break;
            case 'chaos infection':
              setstats(27);
              draw();
              break;
            case 'lupus':
              setstats(28);
              draw();
              break;
            default:
              alert('No such case found. Try again.');
          }

        }
        function usetool(tool) {
          s = Math.random() * 100 > (30 - document.getElementById("skill").value / 4);
          if (toolavailable(tool)) {
            switch (tool) {
              case 'sponge':
                spongUsed += 1;
                if (s) {
                  dirt = 0;
                  tooltext = 'You mopped up the operating site.';
                } else
                  tooltext = 'You somehow managed to eat the sponge.';
                break;
              case 'scalpel':
                scalpUsed += 1;
                if (sleep == 0)
                  endtext = 'You have cut the awake patient!';
                if (incisions == incneeded && shattered == 0) {
                  tooltext = 'You stabbed the patient in a vital organ!';
                  bleeding += 1;
                  s = true;
                } else {
                  incisions += 1;
                  if (s)
                    tooltext = 'You\'ve made a neat incision.'
                  else
                    tooltext = 'This will leave a nasty scar, but you managed to cut the right place.';
                }
                break;
              case 'stitches':
                stitcUsed += 1;
                if (s) {
                  if (incisions > 0)
                    tooltext = 'You stitched up an incision.'
                  else if (bleeding > 0)
                    tooltext = 'You bandaged some injuries.'
                  else
                    tooltext = 'You tried to stitch your patient\'s mouth shut!.';
                  if (bleeding > 0)
                    bleeding -= 1;
                  if (incisions > 0)
                    incisions -= 1;
                } else
                  tooltext = 'You somehow tied yourself up in stitches!';
                break;
              case 'antiseptic':
                antisUsed += 1;
                if (s) {
                  site = Math.min(site + 20, 20);
                  tooltext = 'You disinfected the operating site.';
                } else
                  tooltext = 'You spilled antiseptic on your shoes. They are very clean now.';
                break;
              case 'antibiotics':
                antibUsed += 1;
                if (s) {
                  fever -= 3;
                  tooltext = 'You used antibiotics to reduce the patient\'s infection.';
                  if (fever > -3)
                    antibs = true;
                } else {
                  fever += 1;
                  tooltext = 'This is the wrong medication! The bacteria like it.';
                }
                break;
              case 'splint':
                splinUsed += 1;
                if (s) {
                  broken -= 1;
                  tooltext = 'You splinted a broken bone.';
                } else
                  tooltext = 'You ate a splint, good job!';
                break;
              case 'anesthetic':
                anestUsed += 1;
                if (s) {
                  sleep += 10;
                  tooltext = 'The patient falls into a deep sleep.';
                } else
                  tooltext = 'You end up inhaling all the anesthetic yourself. You feel woozy.';
                break;
              case 'labkit':
                labkiUsed += 1;
                if (s) {
                  labworked = true;
                  if (flu)
                    tooltext = 'You performed lab work on the patient, and discovered they are suffering from ' + scantext;
                  else
                    tooltext = 'You performed lab work on the patient, and have antibiotics at the ready.';
                } else
                  tooltext = 'You contaminated the sample.';
                break;
              case 'ultrasound':
                ultraUsed += 1;
                if (s) {
                  sounded = true;
                  if (flu)
                    tooltext = 'You scanned the patient , but didn\'t find any abnormal masses.'
                  else
                    tooltext = 'You scanned the patient with ultrasound, discovering they are suffering from ' + scantext;
                } else
                  tooltext = 'You scanned the nurse with your ultrasound!';
                break;
              case 'pins':
                pinsUsed += 1;
                if (s) {
                  shattered -= 1;
                  broken += 1;
                  tooltext = 'You pinned a shattered bone together. Don\'t forget to splint it!';
                } else {
                  bleeding += 1;
                  tooltext = 'You jabbed the pin through the artery!';
                }
                break;
              case 'defibrillator':
                defibUsed += 1;
                if (s) {
                  heart = 0;
                  tooltext = 'You shocked the patient back to life!';
                } else
                  tooltext = 'You electrocuted yourself!';
                break;
              case 'transfusion':
                transUsed += 1;
                if (s) {
                  pulse = Math.min(pulse + 15, 40);
                  tooltext = 'You transfused several pints of blood into your patient.';
                } else
                  tooltext = 'You spilled all of it! Kind of gross.';
                break;
              case 'clamp':
                clampUsed += 1;
                if (s) {
                  bleeding -= 1;
                  tooltext = 'You clamped up some blood vessels.';
                } else
                  tooltext = 'The clamp fell out of your hand, oh well.';
                break;
              case 'fixit':
                if (s) {
                  fixed = true;
                  tooltext = postext;
                } else
                  tooltext = 'You screwed it up! Try again.';
                break;
            }
            // Making Glove available
            if (!fixable && (incisions == incneeded) && sounded) {
              fixable = true;
              tooltext += '<br />' + fixtext;
            }
            // Managing bleeding, site, dirt
            dirt += bleeding + incisions;
            if (dirt > 10)
              dirt = 10;
            site -= Math.floor(dirt / 3);
            if (site < -25)
              site = -25;
            if (sleep == 0 && incisions > 0)
              bleeding += 1;
            if (bleeding > 4)
              bleeding = 4;

            // Managing temp, fever
            if (fever < 0) {
              if (fever > -0.06)
                fever = 0
              else if (!antibs)
                fever = (fever - 3) / 2;
            } else if ((site <= 2) && (bleeding > 0) || (site <= 4) && (incisions > 0))
              fever += 0.06;
            temp += fever;
            temp = Math.round(temp * 100) / 100;
            if (temp < 98.6)
              temp = 98.6;
            antibs = false;
            // Managing status, heart stopping
            if (((sleep > 0) && (Math.random() < 0.2)) || (heart > 0))
              heart += 1
            else
              sleep = Math.max(sleep - 1, 0);
            // Managing pulse
            pulse -= bleeding + Math.min(incisions, 1);
            // Checking for fail
            if (pulse < 1 && endtext.length == 0)
              endtext = 'Your patient bled out!'
            else if (temp >= 111)
              endtext = 'Your patient succumbed to infection!'
            else if (heart == 3)
              endtext = 'You failed to resucicate your patient in time!'
            else if (sleep > 15)
              endtext = 'You put your patient to sleep. Permanently!'
            else if ((incisions == 0) && (broken == 0) && (shattered == 0) && fixed && (bleeding == 0) && (temp < 101))
              endtext = 'success';
            if (endtext != '') {
              var usedtext = '';
              if (true) {
                usedtext += '\n';
                if (spongUsed > 0)
                  usedtext += '\nSponges: ' + spongUsed;
                if (scalpUsed > 0)
                  usedtext += '\nScalpels: ' + scalpUsed;
                if (stitcUsed > 0)
                  usedtext += '\nStitches: ' + stitcUsed;
                if (antibUsed > 0)
                  usedtext += '\nAntibiotics: ' + antibUsed;
                if (antisUsed > 0)
                  usedtext += '\nAntiseptics: ' + antisUsed;
                if (ultraUsed > 0)
                  usedtext += '\nUltrasounds: ' + ultraUsed;
                if (labkiUsed > 0)
                  usedtext += '\nLab Kits: ' + labkiUsed;
                if (anestUsed > 0)
                  usedtext += '\nAnesthetics: ' + anestUsed;
                if (defibUsed > 0)
                  usedtext += '\nDefibrillators: ' + defibUsed;
                if (splinUsed > 0)
                  usedtext += '\nSplints: ' + splinUsed;
                if (pinsUsed > 0)
                  usedtext += '\nPins: ' + pinsUsed;
                if (clampUsed > 0)
                  usedtext += '\nClamps: ' + clampUsed;
                if (transUsed > 0)
                  usedtext += '\nTransfusions: ' + transUsed;
              }
              if (endtext == 'success')
                alert('You saved your patient! You get: ' + prizetext() + '!' + usedtext)
              else
                alert(endtext + usedtext);
              setstats(Math.round(Math.random() * 18));
            }
            draw();
          }
        }

      </script>
      <div class="bg-[#305B75]/70 rounded-xl border-4 border-[#bee8f1] shadow-md p-10">
        <span class="text-[#f4e2b8] font-[Century Gothic] text-lg font-bold">
          <div id="">
            The patient has not been diagnosed.
            <br>
            <div class="flex flex-row gap-2">
              <span class="flex min-w-[150px]">Pulse : <span class=""> Strong</span></span>
              <span class="w-[120px]">Pulse :<span class=""> Strong</span></span>
            </div>
            <div class="w-20">Pulse: Strong</div> <span class="w-20">Status: Awake</span> 
            Pulse: <span class="text-[#46f013]">Strong</span>
            Status: <span class="text-[#f44849]">Awake</span><br>
            Temp: <span class="text-[#8cbde1]">100.4</span>
            Operation site: <span class="text-[#8cbde1]">Not sanitized</span><br>
            Incisions: <span class="text-[#46f013]">0</span><br><br>
            <span class="text-[#f44849]">[Skill Fail (30%)]</span>
            <span class="text-[#f3c670]">You spilled all of it! Kind of gross.</span>
          </div>
        </span>

        <div class="flex flex-wrap gap-2 mt-4">
          <img class="w-16 h-14 cursor-pointer" id="sponge" onclick="usetool('sponge');" title="Surgical Sponge." />
          <img class="w-16 h-14 cursor-pointer" id="scalpel" onclick="usetool('scalpel');" title="Surgical Scalpel." />
          <img class="w-16 h-14 cursor-pointer" id="stitches" onclick="usetool('stitches');"
            title="Surgical Stitches." />
          <img class="w-16 h-14 cursor-pointer" id="antibiotics" onclick="usetool('antibiotics');"
            title="Surgical Antibiotics." />
          <img class="w-16 h-14 cursor-pointer" id="antiseptic" onclick="usetool('antiseptic');"
            title="Surgical Antiseptic." />
          <img class="w-16 h-14 cursor-pointer" id="fixit" onclick="usetool('fixit');" title="Surgical Glove." />
          <img class="w-16 h-14 cursor-pointer" id="ultrasound" onclick="usetool('ultrasound');"
            title="Surgical Ultrasound." />
        </div>

        <div class="flex flex-wrap gap-2 mt-4">
          <img class="w-16 h-14 cursor-pointer" id="labkit" onclick="usetool('labkit');" title="Surgical Lab Kit." />
          <img class="w-16 h-14 cursor-pointer" id="anesthetic" onclick="usetool('anesthetic');"
            title="Surgical Anesthetic." />
          <img class="w-16 h-14 cursor-pointer" id="defibrillator" onclick="usetool('defibrillator');"
            title="Surgical Defibrillator." />
          <img class="w-16 h-14 cursor-pointer" id="splint" onclick="usetool('splint');" title="Surgical Splint." />
          <img class="w-16 h-14 cursor-pointer" id="pins" onclick="usetool('pins');" title="Surgical Pins." />
          <img class="w-16 h-14 cursor-pointer" id="clamp" onclick="usetool('clamp');" title="Surgical Clamp." />
          <img class="w-16 h-14 cursor-pointer" id="transfusion" onclick="usetool('transfusion');"
            title="Surgical Transfusion." />
        </div>
      </div>

      <script>
        setstats(Math.floor(Math.random() * 18));
        draw();
      </script>
      </span>


      <div class="flex flex-row justify-center gap-4 pt-6">
        <div class="flex flex-col text-slate-100 bg-[#2B2D31] p-4 justify-center w-40 rounded-lg">
          <span class=" font-semibold pb-1">Surgery skill: </span>
          <div class="relative">
            <input id="skill" max="100" min="0" type="number" value="100"
              class="pl-3 pr-3 py-2 w-full placeholder:text-slate-400 bg-gray-700 text-slate-600 text-sm border border-slate-200 rounded-md transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder="1-100" />
            <p class="flex items-start mt-2 text-xs text-slate-400">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1.5">
                <path fill-rule="evenodd"
                  d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                  clip-rule="evenodd" />
              </svg>
              Default 100
            </p>
          </div>
        </div>
        <!-- Select Cases -->
        <div class="flex flex-col text-slate-100 bg-[#2B2D31] p-4 justify-center w-[500px] rounded-lg">
          <span class=" font-semibold pb-1">Select Case: </span>
          <form>
            <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
              <input type="search" id="search"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search" required />

            </div>
          </form>
          <p class="flex items-start mt-2 text-xs text-slate-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1.5">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                clip-rule="evenodd" />
            </svg>
            Default random
          </p>
        </div>
      </div>
    </section>
    <section class="mt-10 py-10 flex justify-center items-center w-full">
      <div class="w-full max-w-[1500px] flex flex-col gap-10 justify-center items-center relative px-6">
        <h2 class="text-4xl font-bold text-center text-[#ABAFB2]">Surgery Tools</h2>
        <div class="grid md:grid-cols-2 gap-[30px]">
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_sponge.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Sponge</h2>
              <p class="text-sm text-slate-200">Used to clean up the operation site and make it easier to see. It is the
                only usable tool when the message "You can't see what you are doing!" is shown.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_splint.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Splint</h2>
              <p class="text-sm text-slate-200">Used to fix fractures. If the patient has a broken bone, use this to fix
                it.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_antiseptic.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Antiseptic</h2>
              <p class="text-sm text-slate-200">Used to clean the operation site. If the operation site is unsanitary,
                this can be used to make it clean. If the operation site has incisions or is bleeding and is unsanitary,
                a fever will start</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_antibiotics.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Antibiotics</h2>
              <p class="text-sm text-slate-200">Used when the patient has a fever. If the patient's fever is climbing,
                this can be used to lower the temperature. The patient's temperature cannot be lower than 98.6.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_anesthetic.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Anesthetic</h2>
              <p class="text-sm text-slate-200">Used to put a patient to sleep, turning its Awake status to Unconscious.
                Surgical Scalpel must only be used when the patient is not awake.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_scalpel.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Scalpel</h2>
              <p class="text-sm text-slate-200">Used to cut open the patient. The "Fix it" button will usually appear
                once the patient is diagnosed and enough incisions are made. It is also used to access shattered bones
                so that Surgical Pins can be used.
                Every use of scalpel causes slightly more bleeding.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_stitches.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Stitches</h2>
              <p class="text-sm text-slate-200">Used to decrease bleeding and close up incisions. This tool is usually
                used when the patient is losing blood before a Surgical Scalpel has been used or after the "Fix it"
                button when the player's incisions need to be stitched up.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_labkit.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Lab Kit</h2>
              <p class="text-sm text-slate-200">Used to unlock Surgical Antibiotics. Surgical Antibiotics cannot be used
                before using this tool.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_clamp.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Clamp</h2>
              <p class="text-sm text-slate-200">Used to clamp up blood vessels. This tool can be used to decrease blood
                loss, but it can only be used if the patient has at least one incision. Less effective than Surgical
                Stitches.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_pins.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Pins</h2>
              <p class="text-sm text-slate-200">Used to fix shattered bones. When used, a shattered bone turns into a
                broken bone. This item can only be used when the patient has at least one incision.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_transfusion.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Transfusion</h2>
              <p class="text-sm text-slate-200">Used to transfuse several pints of blood into a patient. Increases the
                strength of the patient's pulse, which is an indication of how much blood the patient has.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_ultrasound.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Ultrasound</h2>
              <p class="text-sm text-slate-200">Used to diagnose a patient. If the root cause is not a fever, the player
                must use this to discover the patient's condition. It will also reveal the number of broken and
                shattered bones.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_defibrilator.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Defibrillator</h2>
              <p class="text-sm text-slate-200">Used to shock a patient back to life. If the patient's heart has
                stopped, this must be given to the patient within 2 moves or the patient will die and the surgery will
                fail.</p>
            </div>
          </div>
          <div class="p-8 flex flex-row gap-6 bg-[#383A40] justify-center items-center rounded-2xl">
            <img class="min-w-16" src="./surgical_sponge.png" alt="Polyethylene terephthalate">
            <div class="flex flex-col gap-1 w-full">
              <h2 class="font-semibold text-lg text-slate-50">Surgical Sponge</h2>
              <p class="text-sm text-slate-200">Used to clean up the operation site and make it easier to see. It is the
                only usable tool when the message "You can't see what you are doing!" is shown.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>
  <footer class="flex flex-col h-16 w-full items-center shadow shadow-gray-900">
    <ul class="items-center flex flex-row gap-2.5 text-slate-200">
      <li class="">Version 1.54</li>
      <li class="">Copyright © GTSurg Simulator 2025. All rights reserved.</li>
    </ul>
    <ul class="items-center flex flex-row gap-2.5 text-slate-200">
      <li class="">All spritesheets used in this simulator are copyright by ubisoft.</li>
      <li class="">This planner is in no way affiliated with Ubisoft or Growtopia.</li>
    </ul>
  </footer>
</body>

</html>