<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./logo.webp">

  <title>Growtopia Surgery Simulator</title>
</head>

<body class="flex flex-col w-full h-screen items-center relative">
  <header
    class="flex min-h-20 h-20 max-h-20 fixed top-0 bg-[#1E1F22] z-[999] flex-row justify-center w-full transition-colors duration-300 ease-in-out px-5">
    <div class="flex flex-row w-full max-w-[1400px] justify-between">
      <a href="#/" class="items-center flex flex-row gap-2.5">
        <img src="./goldcadu.webp" alt="Gold Cadusesu Logo">
        <h1 class="text-xl capitalize font-semibold text-teal-600">GTSURG SIMULATOR</h1>
      </a>
      <nav class="flex flex-row">
        <button id="hamburger" class=" h-screew-full aspect-square hidden justify-end items-center max-[500px]:flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu w-8 h-8 text-white text-right">
            <line x1="4" x2="20" y1="12" y2="12" />
            <line x1="4" x2="20" y1="6" y2="6" />
            <line x1="4" x2="20" y1="18" y2="18" />
          </svg>
        </button>
        <ul id="navbar"
          class="flex flex-row items-center gap-6 max-[500px]:flex-col max-[500px]:fixed max-[500px]:top-20 ease-0 duration-300 max-[500px]:right-[-260px] max-[500px]:h-screen max-[500px]:z-[999] max-[500px]:bg-[#1E1F22]">
          <li
            class=" text-stone-500 font-semibold max-[500px]:text-right max-[500px]:text-lg max-[500px]:px-5 max-[500px]:w-64 max-[500px]:h-15">
            <a href="#/surgery-tips">Tips</a>
          </li>
          <li
            class=" text-stone-500 font-semibold max-[500px]:text-right max-[500px]:text-lg max-[500px]:px-5 max-[500px]:w-64 max-[500px]:h-15">
            <a href="#/main">Main</a>
          </li>
        </ul>
      </nav>
    </div>

  </header>
  <main id="mainContent" class="flex grow flex-col w-full h-fit items-center mt-20 relative">
  </main>
</body>

</html>